<div class="welcome">
  <div class="form-group">
    <label for="vanity">Let's start!</label>
    <input
      type="text"
      #vanity
      class="form-control"
      aria-describedby="vanity"
      placeholder="Let's find your steam profile."
      (change)="getPlayer(vanity.value)"
    />
    <small id="vanityHelp" class="form-text text-muted"
      >Just enter your steam profile vanity url or steam ID.</small
    >
  </div>
</div>

<div *ngIf="PlayerService.getPlayer()" class="you-wrap">
  <h3>
    Is this your account? <a class="btn btn-success" routerLink="/party">Yes</a>
  </h3>
  <div class="you">
    <a [href]="PlayerService.getPlayer().profileurl" target="_blank">
      <h2 [ngClass]="GlobalService.class(PlayerService.getPlayer())">
        {{ PlayerService.getPlayer().personaname }}
      </h2>
    </a>
    <div class="flex">
      <img
        [src]="PlayerService.getPlayer().avatarfull"
        alt="(Hopefully) Your avatar"
        class="avatar"
        [ngClass]="GlobalService.class(PlayerService.getPlayer())"
      />

      <div class="ml-3">
        <p>Current state:</p>
        <h4 [ngClass]="GlobalService.class(PlayerService.getPlayer())">
          {{
            GlobalService.resolvePlayerState(
              PlayerService.getPlayer().personastate
            )
          }}
        </h4>
        <div *ngIf="PlayerService.getPlayer().game">
          <p>Currently playing:</p>
          <a
            target="_blank"
            [href]="'https://store.steampowered.com/app/' + PlayerService.getPlayer().game.steam_appid"
          >
            <h3 [ngClass]="GlobalService.class(PlayerService.getPlayer())">
              {{ PlayerService.getPlayer().game.name }}
            </h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="disclaimer">
  <p>
    This site does not collect any user data.<br />
    This website uses cookies for functional purposes only.<br />
    This website does not have any affiliation with Steam, Valve or any other
    company.<br />
    All of the content used is owned by there respective copyright owners and do
    not have any affiliation with this site.
  </p>
</div>
