.welcome {
  .form-group {
    text-align: center;
    label {
      text-align: inherit;
      width: 100%;
      font-size: 4rem;
    }

    input[type="text"] {
      width: 50vw;
      font-size: 3rem;
      text-align: inherit;
    }

    label {
      text-align: inherit;
    }
    margin-bottom: 1rem;
  }
}

.you-wrap {
  .you {
    border: 2px solid #f9f9f9;
    padding: 1rem;
    border-radius: 0.5rem;

    .avatar {
      border: 1px solid black;
      border-radius: 0.5rem;
    }

    p {
      margin-bottom: 0.1rem;
    }
  }

  h3 {
    margin-bottom: 2rem;
    .btn {
      float: right;
    }
  }
}

.disclaimer {
  position: absolute;
  bottom: 0;
}
