.game {
  display: flex;

  .header img {
    border-radius: 1rem 0 0 1rem;  
  }

  .text-wrap {
    margin-left: 1rem;
    .tags {
      display: flex;
      flex-wrap: wrap;
      .tag {
        margin-right: 0.5rem;
      }
    }
    .players {
      display: flex;
      .player {
        border: 1px solid black;
        border-radius: 0.1rem;
        margin-right: 0.5rem;
      }
    }
  }

  border: 1px solid black;
  border-radius: 1rem;
  margin-bottom: 1rem;
}