.wrap {
  max-width: 50vw;

  .spinner-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }
  
  .flex {
    flex-direction: column;
  }
}