.main-wrap {
    min-height: 100vh;

    .wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        *:not(router-outlet):not(app-problem) {
            width: 80%;
        }
    }
}