.main-wrap {
    margin: 1rem;
    // @include media-breakpoint-up(sm) { 
    //     margin: 5rem;
    // }
    // @include media-breakpoint-up(md) {
    //     margin: 10rem;
    // }
    // @include media-breakpoint-up(lg) {
    //     margin:20rem;
    // }
    // @include media-breakpoint-up(xl) {
    //     margin:35rem;
    // }
}