.player {
  display: flex;
  padding: 0.5rem;
  img {
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
  }
  h5 {
    margin-bottom: 0;
  }
  p {
    margin: 0;
  }

  &:hover {
    background-color: #F1F1F1;
  }
}