<div class="player">
  <img
    [ngClass]="GlobalService.class(player)"
    [src]="player.avatarfull"
    [alt]="player.personaname + ' profile picture'"
  />
  <div class="text-wrap">
    <a [href]="player.profileurl" target="_blank">
      <h5 [ngClass]="GlobalService.class(player)">{{ player.personaname }}</h5>
    </a>
    <a
      *ngIf="player.game"
      target="_blank"
      [href]="'https://store.steampowered.com/app/' + player.game.steam_appid">
      <p [ngClass]="GlobalService.class(player)">
        {{ player.game.name }}
      </p>
    </a>
  </div>
</div>
