<div class="wrap">
  <h1>Lets create your party!</h1>
  <small>Just select some of your friends or find someone by there id.</small>

  <div class="flex">
    <div class="column">
      <h3>Players in your party</h3>
      <div class="players">
        <div *ngFor="let player of PlayerService.getParty()" class="player">
          <app-player [player]="player"></app-player>
        </div>
      </div>
    </div>
    <div class="column friends">
      <h3>Players from your friend list.</h3>
      <div class="players">
        <div *ngFor="let player of FriendsService.all()">
          <app-player [player]="player"></app-player>
        </div>
      </div>
      <div class="form-group">
        <label for="vanity">Or add someone by there id.</label>
        <input
          type="text"
          #vanity
          class="form-control"
          aria-describedby="vanity"
          placeholder="Just enter there vanity url or steam id"
          (change)="getPlayer(vanity.value)"
        />
      </div>
    </div>
  </div>
</div>
