<div class="wrap">
  <h1>Lets create your party!</h1>
  <small>Just select some of your friends or find someone by there id.</small>

  <div class="nav">
    <a routerLink="/" class="btn btn-secondary">Back</a>
    <button class="btn btn-success" routerLink="/library" [disabled]="PartyService.all().length < 2">Let's play a game</button>
  </div>

  <div class="flex">
    <div class="column">
      <h3>Players in your party</h3>
      <div class="players">
        <div *ngFor="let player of PartyService.all()" class="player">
          <app-player (click)="PartyService.remove(player)" [player]="player"></app-player>
        </div>
      </div>
    </div>
    <div class="column friends">
      <h3>Players from your friend list.</h3>
      <div class="players">
        <div class="spinner-wrap" *ngIf="!FriendsService.all().length">
          <app-spinner></app-spinner>
        </div>
        <div *ngFor="let player of FriendsService.all()">
          <div *ngIf="!PartyService.check(player)" (click)="PartyService.add(player)">
            <app-player [player]="player"></app-player>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="vanity">Or add someone by there id.</label>
        <input
          type="text"
          #vanity
          class="form-control"
          aria-describedby="vanity"
          placeholder="Just enter there vanity url or steam id"
          [(ngModel)]="friend"
          (change)="getPlayer()"
        />
      </div>
    </div>
  </div>
</div>
