@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100vh;
}

.flex {
    display: flex;
}

.online {
    color: rgb(109, 207, 246);
}

.offline {
    color: rgb(101, 102, 103);
}

.playing {
    color: rgb(160, 243, 16);
}

a:hover {
    text-decoration: none;
}