@import '~bootstrap/scss/bootstrap';

$online: rgb(109, 207, 246);
$offline: rgb(101, 102, 103);
$playing: rgb(160, 243, 16);

body {
    height: 100vh;
    overflow: hidden;
}

.flex {
    display: flex;
}

.online {
    color: $online !important;
    border-color: $online !important;
}

.offline {
    color: $offline !important;
    border-color: $offline !important;
}

.playing {
    color: $playing !important;
    border-color: $playing !important;
}

a:hover {
    text-decoration: none;
}